@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --darkgray: #1e1e1e;
  --sombra-padrao: 3px 3px 2px rgba(0, 0, 0, 0.326);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: gray url(../assets/planodefundo.jpg) left bottom no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.888);
  padding: 20px;
  width: 500px;
  border-radius: 20px;
  box-shadow: var(--sombra-padrao);
}

/* Testimonial 1 */

article#testimonial-1 > blockquote {
  position: relative;
  color: white;
  background-color: var(--darkgray);
  font-size: 0.8em;
  word-spacing: 3.5px;
  border-radius: 20px;
  padding: 15px;
  box-shadow: var(--sombra-padrao);
}

article#testimonial-1 figcaption {
    right: 15px;
    top: 40px;
    position: absolute;
    font-size: 1.8em;
}

article#testimonial-1 figure {
  position: relative;
}

article#testimonial-1 img {
    margin-top: 10px;
}

div#triangulo {
  position: relative;
  left: 50px;

  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid var(--darkgray);
}

/* Testimonial 2 */

article#testimonial-2 {
  position: relative;
  background-color: #fff;
  margin: 20px 0px;
  border: 3px solid black;
  border-radius: 20px;
  padding: 15px;
  box-shadow: var(--sombra-padrao);
}

article#testimonial-2 blockquote p {
  font-size: 0.9em;
}

article#testimonial-2 img {
  margin-top: 10px;
}

article#testimonial-2 figcaption {
  font-size: 1.3em;
  bottom: 64px;
  right: 10px;
  position: absolute;
}

article#testimonial-1 img,
article#testimonial-2 img,
article#testimonial-3 img {
  width: 150px;
  border-radius: 50%;
}

img {
  width: 50%;
}

h2 {
  font-family: "Roboto", sans-serif;
}

blockquote {
  text-align: justify;
}

p.cargo,
blockquote {
  font-family: "Montserrat", sans-serif;
}

li {
  list-style-type: none;
}
